name: fastapi-auth-service

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: api
    environment:
      - DATABASE_URL=${DATABASE_URL}
      - CACHE_URL=${CACHE_URL}
    expose:
      - 8000
    ports:
      - '8000:8000'
    depends_on:
      - db
      - cache
    restart: unless-stopped
    env_file:
      - .env

  db:
    image: postgres:18
    container_name: db
    environment:
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_DATABASE}
    expose:
      - 5432
    ports:
      - '5432:5432'
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data

  cache:
    image: redis:8.2
    container_name: cache
    expose:
      - 6379
    ports:
      - '6379:6379'

volumes:
  postgres_data:
